body {
  background-color: #9900CC;


}
#Welcome {

  text-align: center;
  text-decoration: inherit;
  font-size: 110%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  background-color: grey;
  padding: 5%;
  border: 1px solid #ccc

}


#Instruction  {
  text-align:  center;
  text-decoration: inherit;
  font-size: 110%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  background-color: grey;
  padding: 5%;
  border: 1px solid #ccc;
  height: 200px;
}

#Response {
  text-align: center;
  text-decoration: inherit;
  font-size: 110%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  background-color: grey;
  padding: 5%;
  border: 1px solid #ccc;
  height: 200px;

}
